@model List<Worker>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            @* <a href="@Url.Action("Delete", "Worker")" class="btn btn-secondary btn-sm">Create</a> *@
            <a asp-action="Create"  class="btn btn-secondary btn-sm">Create</a>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Action</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>
						@foreach (Worker worker in Model)
						{
							<tr>
								<td>@worker.Fullname</td>
								<td>@worker.Designation</td>
								<td>@worker.Description</td>
								<td>
									<img src="@worker.Image" alt="@worker.Fullname" width="50" height="50" />
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@worker.Id" class="btn btn-primary btn-sm">Edit</a>
									<a asp-action="Delete" asp-route-id="@worker.Id" class="btn btn-danger btn-sm">Delete</a>
									
									@* <a href="@Url.Action("Delete", "Worker", new { id = worker.Id })" class="btn btn-danger btn-sm">Delete</a> *@
									
								</td>
							</tr>
						})

                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>